* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
  line-height: 1.3em;
  font-family: "Lato", sans-serif;
}

:root {
  --main-blue: #2357e5;
  --black: #111111;
  --light-grey-1: #ebebeb;
  --light-grey-2: #dedede;
  --light: #d8dbe0;
  --page-bg: #f2f2f2;
  --dark: #28292c;
  /* menu colors */
  --home: #3a3a3a;
  --articles: #333333;
  --about-us: #2e2e2e;
  --contact: #292929;
}

body {
  font-weight: 400;
  background-color: var(--page-bg);
}

p::first-letter {
  font-size: 2.3em;
}

/* navigation */
header {
  width: 100%;
}

.nav-bar {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  position: relative;
  margin-left: 10vw;
}

.logo span {
  color: var(--main-blue);
}

.nav-bar nav {
  margin-right: 10vw;
}

/* dropdown menu */
.select-menu {
  width: 150px;
  margin: 50px auto;
  font-size: 1.3rem;
}

.select-menu .select-btn {
  display: flex;
  height: 2.5rem;
  background: var(--main-blue);
  padding: 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu .options {
  position: absolute;
  width: 150px;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
  display: flex;
  height: 2.5rem;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.select-menu .options .option:hover {
  background: #f2f2f2;
}

.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu .options .option .option-text {
  font-size: 1rem;
}

.select-menu .options .option .option-text a {
  text-decoration: none;
}

.select-menu .options .option:nth-child(1) a {
  color: var(--home);
}

.select-menu .options .option:nth-child(2) a {
  color: var(--articles);
}

.select-menu .options .option:nth-child(3) a {
  color: var(--about-us);
}

.select-menu .options .option:nth-child(4) a {
  color: var(--contact);
}

.select-btn i {
  font-size: 1.3rem;
  margin-left: 5px;
  transition: 0.3s;
  color: #fff;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

/* switch theme */
.switch-theme {
  width: 65px;
  height: 65px;
  border: 2px solid var(--light);
  border-radius: 50%;
  background-color: var(--black);
  /* background-color: white; */
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dark mode */
.switch-theme .fa-moon {
  font-size: 2rem;
  color: white;
  transition: 0.2s ease;
}

/* light mode */
.switch-theme .fa-sun {
  font-size: 2rem;
  color: var(--black);
  transition: 0.2s ease;
}

.switch-theme:hover {
  cursor: pointer;
}

.switch-theme:hover i {
  transform: scale(1.1);
}

.switch-theme:active i {
  transform: scale(1);
}

/* banner */
.banner {
  background: var(--black);
  padding: 10vh 0 15vh 0;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.banner h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.banner p {
  margin-top: 15px;
  font-weight: 300;
  text-align: center;
}

.banner p::first-letter {
  font-size: 1rem;
}

.read-more-btn {
  background-color: var(--main-blue);
  padding: 0.6em 1em;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
}

.banner .read-more-btn {
  margin-top: 30px;
}

.read-more-btn::after {
  content: "";
  transition: 0.4s ease;
}

.read-more-btn:hover {
  cursor: pointer;
}

.read-more-btn:hover::after {
  content: "";
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3.5px;
  margin-left: 4px;
  transform: rotate(-45deg);
}

/* category menu */
.category-nav {
  width: 100%;
  margin: 0 auto;
  background: var(--light-grey-1);
  padding: 20px 0;
  border-bottom: 5px solid var(--light-grey-2);
}

.category-nav ul {
  list-style: none;
  text-align: center;
}

.category-nav ul li {
  display: inline-block;
}

.category-nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  margin: 0 10px;
}

.category-nav ul li a,
.category-nav ul li a:after,
.category-nav ul li a:before {
  transition: all 0.5s;
}

.category-nav ul li a:hover {
  color: var(--main-blue);
}

.category-nav ul li a {
  position: relative;
}

.category-nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--main-blue);
  height: 1px;
}

.category-nav ul li a:hover:after {
  width: 100%;
}

/* all categories page */
main.all-categories {
  width: 60vw;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

/* single article */
main.all-categories .single-article {
  width: 45%;
  background-color: white;
  padding: 10px;
  position: relative;
  margin: 10px;
}

main.all-categories .single-article img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.6s ease;
}

main.all-categories .single-article .img-zoom-effect {
  width: 100%;
  overflow: hidden;
}

main.all-categories .single-article .img-zoom-effect:hover img {
  transform: scale(1.07);
  cursor: url(images/photo-zoom-cursor.svg), auto;
}

main.all-categories .single-article__added-date {
  font-weight: 300;
  font-size: 0.8rem;
}

main.all-categories .single-article h3 {
  font-size: 1.8rem;
  margin: 10px 0;
}

main.all-categories .single-article p::first-letter {
  font-size: 1em;
}

main.all-categories .single-article p {
  color: var(--black);
  opacity: 0.8;
}

main.all-categories .single-article button {
  font-size: 0.9rem;
  margin-top: 1.4em;
}

/* contact page */
main.contact {
  color: var(--dark);
  margin: 10vh 20vw 15vh 20vw;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

main.contact header {
  width: 100%;
  text-align: center;
}

main.contact header h2 {
  color: var(--black);
  font-size: 2.2rem;
}

main.contact header p::first-letter {
  font-size: 1em;
}

main.contact header p {
  opacity: 0.8;
  margin: 10px 0 30px 0;
}

main.contact .contact-information {
  width: 50%;
  background-color: var(--main-blue);
  padding: 2rem;
  border: 8px solid #fff;
  border-radius: 8px 0 0 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main.contact .contact-information h3 {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

main.contact .contact-information p {
  font-weight: 300;
  width: 75%;
  margin-bottom: 15px;
}

main.contact .contact-information p::first-letter {
  font-size: 1em;
}

main.contact .contact-information ul {
  margin: 20px 0;
  list-style: none;
}

main.contact .contact-information ul li {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

main.contact .contact-information ul li a{
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

main.contact .contact-information ul li i {
  width: 40px;
  font-size: 1.4em;
  text-align: center;
}

main.contact .contact-information .socials i{
  margin: 80px 10px 0 10px;
  font-size: 1.7rem;
  justify-self: flex-end;
  transition: .3s ease;
}

main.contact .contact-information .socials i:hover {
  cursor: pointer;
  opacity: 0.8;
}

main.contact .contact-information .socials i:first-child{
  margin-left: 0;
}

main.contact .formulage {
  width: 50%;
  padding: 2rem;
  border: 8px solid #fff;
  border-radius: 0 8px 8px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.contact .formulage form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.contact form input:nth-child(-n + 2),
main.contact form textarea {
  border: none;
  border-bottom: 2px solid var(--light-grey-2);
}

main.contact form input,
main.contact form textarea {
  margin: 15px;
  padding: 5px;
  font-size: 1rem;
  outline: none;
}

main.contact form input:focus,
main.contact form textarea:focus {
  border-color: var(--main-blue);
}

main.contact form textarea {
  resize: none;
  position: relative;
}

main.contact form input[type="file"]::-webkit-file-upload-button {
  background-color: var(--main-blue);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
}

main.contact form input[type="file"]::-webkit-file-upload-button:hover,
main.contact form input[type="file"]:hover {
  cursor: pointer;
}

main.contact form input[type="submit"] {
  width: 40%;
  background-color: var(--main-blue);
  border: none;
  border-radius: 5px;
  margin-top: 80px;
  padding: 10px 14px;
  color: white;
  text-transform: uppercase;
  align-self: flex-end;
}

main.contact form input[type="submit"]:hover {
  cursor: pointer;
}

main.contact form input[type="submit"]:active{
  font-weight: 700;
}

main.contact form input[type="submit"]:focus{
  border-color: none;
}

/* about us page */
main.about-us {
  width: 60vw;
  background-color: #fff;
  padding: 2rem;
  margin: 1vh auto 10vh auto;
}

main.about-us h2 {
  font-size: 2rem;
  margin-bottom: 2em;
  text-align: center;
}

main.about-us p {
  margin: 1.5em 0;
}

main.about-us h4 {
  font-size: 1.4rem;
  color: var(--main-blue);
}

main.about-us h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

main.about-us .team{
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main.about-us .team article {
  width: 33%;
  background-color: var(--main-blue);
  border-radius: 8px;
  padding: 20px;
  margin: 15px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 13px -7px rgba(17, 17, 17, 1);
  -moz-box-shadow: 0px 0px 13px -7px rgba(17, 17, 17, 1);
  box-shadow: 0px 0px 13px -7px rgba(17, 17, 17, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main.about-us .team article:nth-child(1),
main.about-us .team article:nth-child(4) {
  width: 50%;
}

main.about-us .team article img {
  width: 40%;
  border-radius: 50%;
  margin-bottom: 10px;
}

main.about-us .team article h5 {
  font-size: 1rem;
}

main.about-us .team article p {
  margin: 0;
  margin-top: 5px;
}

main.about-us .team article p::first-letter {
  font-size: 1em;
}

/* footer */
footer {
  width: 100%;
  background-color: var(--black);
  padding: 7vh 10vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer section {
  max-width: 20vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer__logo {
  position: relative;
}

.footer__logo div.logo {
  margin-left: 0;
  margin-top: -12px;
}

.footer__logo p::first-letter {
  font-size: 1em;
}

.footer__logo p {
  color: #fff;
  margin-top: 10px;
  font-size: 1em;
  opacity: 0.8;
}

footer section h4 {
  font-size: 1.3rem;
  color: white;
}

footer section li {
  list-style: none;
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
}

footer section ul:first-child {
  margin-top: 22px;
}

footer section a {
  text-decoration: none;
  color: #fff;
  opacity: 1;
  transition: opacity 0.8 ease;
}

footer section a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer__contact ul li {
  text-transform: none;
}

.footer__contact ul li i {
  width: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  main.all-categories .single-article {
    width: 95%;
  }

  footer section {
    max-width: none;
    width: 50%;
  }

  footer section:nth-last-child(-n + 2) {
    margin-top: 30px;
  }

  main.contact .contact-information,
  main.contact .formulage {
    width: 100%;
  }

  main.contact .contact-information .socials{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  main.contact .contact-information .socials i{
    margin: 20px;
  }

  main.about-us .team {
    flex-direction: column;
  }

  main.about-us .team article {
    width: 70%;
    align-self: flex-end;
  }

  main.about-us .team article:nth-child(1),
  main.about-us .team article:nth-child(3) {
    width: 70%;
    align-self: flex-start;
  }

  main.about-us .team article:nth-child(4) {
    width: 70%;
  }
}

/* 
.toggle-switch {
  width: 200px;
  margin-top: 20px;
  transform: scale(0.35);
  position: relative;
}

.toggle-switch label {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

.toggle-switch input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.toggle-switch input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.toggle-switch input:checked ~ .slider::before {
  transform: translateX(95px);
  background-color: var(--dark);
  box-shadow: none;
}
*/
